<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/goruntule" action="secim" method="post">

        <p style="float: inline-end;" >csvno:</p>
        <input type="number" name="csvno" value="">
        <input type="submit" name="" value="submit">

        <br>
        <br>
    </form>




    <!-- {% for i in content %}
    {{ i }}
    <br>
    {% endfor %}  -->


</body>
</html>