<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ content2 }} numaralı csvno dosyanızdaki veriler.</p> 

    <br>
    <hr>
    {% for i in content %}
    {{ i }}
    <br>
    {% endfor %} 


    <form action="/vericek" method="post">
        Neleri yazdırmak istersiniz ?
        <br>
        <hr>
        {% for i in content %}
        {{ i }}
        <input type="checkbox" name="checkbox_veriler" value="{{ i }}" />
        <br>
        {% endfor %} 
        <input type="submit" value="Submit" />
        <input type="hidden" value="{{content2}}" name="csvno">


    </form>

    

    
    
    
    
    <!-- csv no girdisi -->
</body>
</html>